<h2><%= @ingredient.name() %> - Ingredient</h2>

<div class="form-group">
<form id="recipe" action="/ingredient/<%= @ingredient.id() %>" method="post">
  <div class="form-group">
    <input type="hidden" name="ingredient_id" id="ingredient_id" value="<% @ingredient.id() %>">
    <label for="recipe">Recipes</label>
    <input type="text" name="recipe" id="recipe" placeholder="ex. Tacos">
    <button name="submit" class="btn btn-danger">Add</button>
  </div>
</form>
<form class="form-inline" action="/ingredient/<%= @ingredient.id() %>" method="post">
  <div class="form-group">
    <input type="hidden" name="ingredient_id" value="<%= @ingredient.id() %>">
    <input type="hidden" name="_method" value="patch">
    <label for="ingredient">Update Ingredient</label>
    <input type="text" name="ingredient" id="ingredient" placeholer="<%= @ingredient.name() %>">
    <button type="submit" class="btn btn-danger">Update</button>
  </div>
</form>


<% if @ingredient.recipes.any?() %>
  <h3><%= @ingredient.name() %>'s Recipe List</h3>

  <ul>
    <% @ingredient.recipes.each() do |ingredient_recipe| %>
    <li><%= ingredient_recipe.name() %></li>
    <% end %>
  </ul>

<% else %>

  <p> Please add recipes. </p>

<% end %>
